{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>
    <section class="d-flex">
        {% for cat in categories %}
        <div class="card-article demiDiv">
            <h1 class="toptitre left {{cat.style}}">
                    {{cat.nom}}
                        {# <img 
                            class="avatar" 
                            src="{{ user.imageName ? vich_uploader_asset(user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                            alt="{user.name}}"
                        > #}
                {# <a href="{{ path('app_categorie_show', {'id': cat.id}) }}">show</a> #}
            </h1> 
            <a href="{{ path('app_categorie_edit', {'id': cat.id}) }}">edit</a>
            
        </div>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
            
        
        {% endfor %}
    </section>


    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
