{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>
    <section class="d-flex">
        {% for user in users %}
        <div class="card demiDiv "  style="{{user.style}}">
            <h1 class="toptitre left gris">
                {{user.name}}
                <img 
                    class="avatar" 
                    src="{{ user.imageName ? vich_uploader_asset(user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                    alt="{{user.name}}"
                >

            </h1> 
            <h2 class="toptitre2 right gris">
                <span class="mute">inscrit {{user.createdAt | ago}}</span>
            </h2>
            <div class="iconArticle">
                <i class="fa fa-star pointer yellow btn-vierge"></i>
            </div>
            {% if user.articles %}
                <h2>{{user.articles | length }} articles</h2>
                {% set moyenne = 0 %}
                {% set nbVote = 0 %}
                {% for row in user.articles %}
                    {% for note in row.noteArticles %}
                        {% set moyenne = moyenne + note.note %}
                        {% set nbVote = nbVote +1 %}
                    {% endfor %}
                {% endfor %}
                {% if nbVote > 0 %}
                    {% set moyenne = moyenne / nbVote %}
                    <h2>Moyenne articles {{ moyenne | round(2, 'floor') }}</h2>
                {% endif %}
            {% endif %}
            {% if user.comments %}
                <h2>{{user.comments | length }} commantaires</h2>
            {% endif %}
            <div  class="form-check form-switch m-2">   
                {# {{ dump(article.visible) }} #}
                <input type="checkbox" class="form-check-input" value="{{user.id}}" role="switch" data-switch-active-user {{user.visible ? 'checked'}}>
                <label class="form-check-label" >visible</label>

            </div>
             
        </div>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
            
        
        {% endfor %}
    </section>
                    {# <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.style }}</td>
                    <td>{{ user.visible ? 'Yes' : 'No' }}</td>
                    <td>{{ user.imageName }}</td>
                    <td>{{ user.imageSize }}</td>
                    <td>{{ user.imageUpdatedAt ? user.imageUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td> #}


    

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
