{% extends 'base.html.twig' %}

{% block title %}login | {{ parent() }}{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Connect toi à Dev In et rejoint la communautée !" 
    /> 
    <meta name="robots" 
        content="index,follow"
    /> 
{% endblock %}
{% block body %}
    <section class="register">
        <form class="form" action="{{path('login')}}"  method="POST" >
            <h1 class="Lobster">Se connecter</h1>
            {% if error %}
                <div class="" >
                    <h1>{{ error.messageKey|trans(error.messageData, 'security')}}</h1>
                </div>
            {% endif %}
            <hr>
            <div class="form-ligne">
                <input type="text" id="username" class="form-control" name="_username" value="{{ lastUsername }}" placeholder="email"/>
            </div>
            <div class="form-ligne">
                <input type="password" id="password" class="form-control" name="_password" placeholder="password" value="123456"/>
            </div>
            <hr>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary">Se connecter</button> <br>
                <a class="mb-4" href="{{path('app_forgot_password_request')}}">mot de passe oublié ?</a>
            </div>
        </form>
    </section>
{% endblock %}
