{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}DashBoard{% endblock %}
{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Some Action</a> #}
{% endblock %}

{% block main %}
<div style="display: flex ;">
    <div style="height:80vh; width:40vw">
        <h1>Report et suggest</h1>
        {{ render_chart(chart) }}
        <h1>Utilisateur</h1>
        {{ render_chart(chart) }}
    </div>
    <div style="height:80vh; width:40vw">
        <h1>Articles par tags</h1>
        {{ render_chart(chart2) }}
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
    
{{ dump(chart) }}

{% endblock %}