{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}DashBoard{% endblock %}
{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Some Action</a> #}
{% endblock %}

{% block main %}
<div class="row">
    <div class="p-5 col-sm">
        <h1>Nouveaux utilisateurs cette semaine</h1>
        {{ render_chart(chart3) }}
        <h1>Signalements et suggestions</h1>
        {{ render_chart(chart) }}
        
    </div>
    <div class="p-5 col-sm">
        <h1>Articles par tags</h1>
        {{ render_chart(chart2) }}
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
    
{# {{ dump(chart3) }} #}

{% endblock %}