{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <h1>Subject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ subject.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ subject.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ subject.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ subject.imageSize }}</td>
            </tr>
            <tr>
                <th>ImageUpdatedAt</th>
                <td>{{ subject.imageUpdatedAt ? subject.imageUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ subject.createdAt ? subject.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ subject.updatedAt ? subject.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ subject.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_subject_index') }}">back to list</a>

    <a href="{{ path('app_subject_edit', {'id': subject.id}) }}">edit</a>

    {{ include('admin/subject/_delete_form.html.twig') }}
{% endblock %}
