{% extends "base.html.twig" %}
{% block title %}
    Subject | {{ parent() }}
{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Page d'édition des sujets" 
    /> 
    <meta name="robots" 
        content="noindex, nofollow"
    /> 
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block body %}
<section class="d-flex w-80">
    <div class="card-subject">
        <h1 class="toptitre left {{subject.forum.style}}">
            - Posté par :  {{subject.user.name}}
            <img 
                class="avatar" 
                src="{{ subject.user ? vich_uploader_asset(subject.user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                alt="{{subject.user.name}}"
            >
        </h1> 
        <h2 class="toptitre2 right {{subject.forum.style}}">
            dans {{subject.forum.nom}} <span class="mute">{{subject.createdAt | ago}}</span>
        </h2>
        <div class="iconSubject">
            <button value="{{subject.id}}" class="btn-vierge red" type="button" data-signaler-subject >
                <i class="fa-solid fa-triangle-exclamation"></i>
            </button>
            <button 
                type="button" 
                class="btn-vierge " 
                value="{{subject.id}}" 
                data-follow-subject >
                {# {{ dump(subject) }}
                {{ dump(app.user.getSubjectFavoris()) }} #}
                {# {{ dump(subject) }}
                {{ dump(app.user.subjectFavoris) }} #}
                {% set fav = false %}
                {% if app.user %}
                    {% for row in app.user.subjectFavoris %}
                        {% if row.subject.id == subject.id %}
                            {% set fav = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% if fav %}
                    <i class="fa fa-star pointer yellow"></i>
                {% else %}
                    <i class="far fa-star pointer yellow"></i>
                    
                {% endif %}
                    
                    
            </button>
        </div>

        <h1 class="title">
        {% if app.user and app.user.id == subject.user.id %}
            <input id="subjectName" type="text" value="{{subject.nom}}">
            <button class="btnVierge" value="{{subject.id}}" data-edit-subjectName >modifier</button>
        {% else %}
            {{subject.nom}}
        {% endif %}
        
        {% if  subject.getNoteSubjects() | length > 0 %}
            
            {# {{dump(subject.getNoteSubjects())}} #}
            {% set somme = 0 %}
            {% for row in subject.getNoteSubjects() %}
                {% set somme = somme + row.note %}
            {% endfor %}
                {% set somme = somme / (subject.getNoteSubjects()| length) %}
            <div class="note">
                {% for i in 1..10 %}
                    {# {% if i <= somme * 2 %} #}
                    {% if i is odd %}
                    <i class="fa fa-star-half stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                    {% else %}
                    <i class="fa fa-star-half deg90 stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                    {% endif %}
                    {# {% endif %} #}
                {% endfor %}
            </div>
        {% endif %}
        </h1>
        {# {{ dump(app.user) }} #}
        <div class="d-flex-image">
            {# noter l subject #}
            {% if app.user  %}
                {% set noter = false %}
                {% for row in app.user.noteSubjects %}
                    {% if row.subject.id == subject.id %}
                    {% set noter = true %}
                    {% endif %}
                {% endfor %}
                {% if not noter %}
                <div class="note">
                    {% for i in 1..5 %}
                    <button class="btn-vierge"  value="{{i}}-{{subject.id}}" data-note-subject>
                        <i class="far fa-star stars" ></i>
                    </button>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        
            <div class="commentaire">
                <h2>commentaires</h2>
                {# form new comment #}
                {% if app.user %} 
                    {# <form action="" id="commentPost{{subject.id}}"> #}
                        <div class="comment">
                            <input id="commentPost{{subject.id}}" class="envoieCommentInput" placeholder="écrit ton commentaire">
                            <button type="button" class="btn-vierge envoiComment" value="{{subject.id}}|{{app.user.id}}" data-envoie-comment><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    {# </form> #}
                {% endif %}
                
                <div class="top" id="com{{subject.id}}">
                {% for commen in subject.comments |sort((a, b) => a.createdAt <= b.createdAt) %}
                    {% if commen.active %}
                    <div class="comment3">           
                        <div class="jaime" >
                            <span class="floatRight">
                                <button value="{{commen.id}}" class="btn-vierge red" type="button" data-signaler-comment >
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </button>

                                <span id="like{{commen.id}}">({{commen.commentLikes | length }})</span> 
                                <button value="{{commen.id}}" class="btn-vierge jaimee" type="button" data-jaime-comment >
                                    <i class="far fa-thumbs-up"></i>
                                </button>
                            </span>
                        </div>
                        <p class="left head"> par {{ commen.user.name }}</p>
                        <p class="left com"> {{ commen.message}}
                        </p>
                        <span class="date">{{commen.createdAt | ago}}</span>
                        <hr style="margin:2px"> 
                    </div>
                    {% endif %}
                {% else %}
                    <p>pas encore de commantaires</p>
                {% endfor %}
                </div>
            </div>
            <div>
                {# <img class="subjectImage" src="{{ subject ? vich_uploader_asset(subject, 'imageFile') : "https://fakeimg.pl/200x100" }}" alt="{{subject.nom}}"> #}
                <div class="d-subject ">
                    <div class="description">
                        
                        {% if app.user and app.user.id == subject.user.id %}
                        {{ form_start(form,{'attr': {'id':'formpost'}} ) }}
                            {# <textarea id="subjectContent" cols="30" rows="10">{{subject.description | raw}}</textarea> #}
                            <div class="form-ligne">
                                {{ form_widget( form.description,{'attr': {'placeholder': '{{subject.description | raw}}', 'id':'subjectContent'}} ) }}
                            </div>
                            <button class="mb-4">{{ button_label|default('Save') }}</button>
                            {{ form_widget( form._token)}}
                        {{ form_end(form,{render_rest: false}) }}
                            {# <button class="btnVierge" value="{{subject.id}}" data-edit-subjectContent >modifier</button> #}
                        {% else %}
                            <p>{{subject.description | raw}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div>
        

    </div>

    {# clone commentaire #}
    <div class="comment3 modele" id="modele-comment">           
        <div class="jaime" >
            <span class="floatRight">
                <span  id="note0">(0)</span> 
                <button id="j0" data_note="0/" class="btn-vierge jaimee" type="button" name="jaime" >
                    <i data_id="0" class="far fa-thumbs-up"></i>
                </button>
            </span>
        </div>
        <p class="left head"> par {{ app.user ? app.user.name }}</p>
        <p class="left com">0</p>
        <span class="date">à l'instant</span>
        <hr style="margin:2px"> 
    </div>
</section>
{% endblock %}