{% extends "base.html.twig" %}
{% block meta %} 
    <meta name="description" 
        content="Tous les sujets postés par notre communautés de developpeur pour avancer plus vite en programmation, Dev In, le site de l'entraide" 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}
{% block title %}
    Page subject | {{ parent()}}
{% endblock %}

{% block body %}
    <div class="w-80 js-filter">

        {{ form_start(forms, { 'attr' : { 'class' : 'formSearch js-filter-form'} }) }}
            <h1>Filter par catégories</h1>
            {{ form_row(forms.forum) }}
            {# <button class="btn-vierge" type="submit">Rechercher</button> #}
        {{ form_end(forms, {'render_rest': false }) }}
        
        {# button nouvel subject #}
        {% if app.user %}
            <span class="color-red">{{ form_errors(form.nom) }}</span>
            <button id="myBtn1" onclick="modal(this)">nouveau subject</button>
            <div id="modal1"  class="card-subject">
                {{ include('subject/new.html.twig')}}
            </div>
        {% endif %}
       
        <section class="w-100">
        {# liste des subjects #}
            <div class="js-filter-count">
                {% include "Components/filter/_countSubject.html.twig" %}
            </div>

            <div class="js-filter-content">
                {% include "Components/_subjects.html.twig" %}
            </div>

            <div class="d-flex  js-filter-pagination">
                {% include "Components/filter/_paginationSubject.html.twig" %}
            </div>
        
            

        </section>
        

        {# clone commentaire #}
        <div 
            class="comment3 modele" 
            id="modele-comment">           
            <div class="jaime"
                {{ stimulus_controller('comment') }}
                >
                <span class="floatRight">
                    <button 
                        value="" 
                        class="btn-vierge color-red" 
                        type="button" 
                        {{ stimulus_action('comment', 'report') }}
                        >
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </button>

                    <button 
                        value="" 
                        class="btn-vierge jaimee" 
                        type="button" 
                        {{ stimulus_action('comment', 'follows') }}
                        >
                        <i class="far fa-thumbs-up yellow"></i>
                        <span id="like">(0)</span> 

                    </button>

                </span>
                <div class="suggest" id="suggest">
                    <input class="plus grande" type="text" placeholder="Un probleme ?">
                    <button 
                        value="" 
                        class="btn-vierge bleu" 
                        {{ stimulus_action('comment', 'submitReport') }} 
                        >envoyer</button>
                </div>
                
            </div>
            <p class="left head"> par {{ app.user ? app.user.name }}</p>
            <p class="left com">0</p>
            <span class="date">à l'instant</span>
            <hr style="margin:2px"> 
        </div>
    </div>
 

{% endblock %}