{% extends "base.html.twig" %}
{% block meta %} 
    <meta name="description" 
        content="Tous les sujets postés par notre communautés de developpeur pour avancer plus vite en programmation, Dev In, le site de l'entraide" 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}
{% block title %}
    Page subject | {{ parent()}}
{% endblock %}

{% block body %}
    <div class="js-filter">
        <div class="w-100 center">
            {# formulaire de recherche #}
            {{ form_start(forms, { 'attr' : { 'class' : 'formSearch js-filter-form'} }) }}
                <div class="loader">
                    <div class="js-loading" role="status" aria-hidden="true" style="display: none">
                        <span class=""><i class="fa-solid fa-spinner fa-spin-pulse"></i></span>
                    </div>
                </div>
                <h1>Filtrer par catégories</h1>
                {{ form_row(forms.forum) }}
            {{ form_end(forms, {'render_rest': false }) }}
        </div>
        <div class="w-80">
            {# button nouvel subject #}
            {% if app.user %}
                <span class="color-red">{{ form_errors(form.nom) }}</span>
                <button id="myBtn1" class="btnProfil1 purple" onclick="modal(this)">nouveau subject</button>
                <div id="modal1"  class="card-subject">
                    {{ include('subject/new.html.twig')}}
                </div>
            {% endif %}

        {# pagination liste des subjects #}
            <section class="w-100">
            
                <div class="js-filter-count">
                    {% include "Components/filter/_countSubject.html.twig" %}
                </div>

                <div class="js-filter-content d-flex stretch">
                    {% include "Components/_subjectsNoters.html.twig" %}
                </div>

                <div class="d-flex  js-filter-pagination">
                    {% include "Components/filter/_paginationSubject.html.twig" %}
                </div>
            
            </section>
        </div>
    </div>

{% endblock %}