
{{ form_start(form,{'attr': {'id':'formpost'}} ) }}
    <h1 class="toptitre left ">
        - Posté par : {{ app.user ? app.user.name : '' }}  
        <img 
            class="avatar" 
            src="{{ app.user ? vich_uploader_asset(app.user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
            alt=""
        >

    </h1> 
    <div class="toptitre2 right inlineRuby">
        Forum : 
        {{ form_widget( form.forum ) }}
        
    </div>
    <div class="iconSubject">
        <button 
            type="button" 
            class="btn-vierge yellow" 
            value="" 
            data-follow-subject >
            <i class="fa-solid fa-star pointer yellow"></i>
        </button>
    </div>
    <h1 class="title"> 
        {{ form_widget( form.nom,{'attr': {'placeholder': 'titre'}} ) }}
    </h1>
    <div class="form-ligne">
        {{ form_widget( form.description,{'attr': {'placeholder': 'description', 'rows':"15", 'cols':"70%" }} ) }}
    </div>
    {# <div class="form-ligne">
        {{ form_widget( form.imageFile ) }}
    </div> #}
    <hr>
    <button class="mb-4" data-new-subject>{{ button_label|default('Save') }}</button>
    
    {{ form_widget( form._token)}}
{{ form_end(form,{render_rest: false}) }}
