{% extends "base.html.twig" %}
{% block title %}
    Subject | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block body %}
<section class="d-flex w-100">
    {{ include('Components/_subject.html.twig')}}   
</section>
{% endblock %}