{% extends "base.html.twig" %}

{% block title %}
    Page d'accueil | {{ parent()}}
{% endblock %}

{% block body %}

    {% for subject in subjects %}
        <div id="cardHome{{loop.index}}" class="card absolute">
            <h1 class="toptitre left {{subject.forum.style}}">&nbsp; - Posté par :  {{subject.user.name}}
                <img 
                    class="avatarVrai" 
                    src="{{ subject.user ? vich_uploader_asset(subject.user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                    alt="{{subject.user.name}}"
                ></h1>
            <h2 class="toptitre2 right {{subject.forum.style}}">
                dans {{subject.forum.nom}} <span class="mute">{{subject.createdAt | ago}}</span>
            </h2>
            <h1 class="toptitre2 {{subject.forum.style}}">{{subject.nom}}</h1>
            <h3 class="title">                
            {% if  subject.getNoteSubjects() | length > 0 %}
            
                {# {{dump(subject.getNoteSubjects())}} #}
                {% set somme = 0 %}
                {% for row in subject.getNoteSubjects() %}
                {% set somme = somme + row.note
                %}
                
                {% endfor %}
                {% set somme = somme / (subject.getNoteSubjects()| length) %}
                <div class="note">
                    {% for i in 1..10 %}
                        {# {% if i <= somme * 2 %} #}
                        {% if i is odd %}
                        <i class="fa fa-star-half stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                        {% else %}
                        <i class="fa fa-star-half deg90 stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                        {% endif %}
                        {# {% endif %} #}
                    {% endfor %}
                </div>
            {% endif %}
                {# <span class="muted">ta note : {{subject.note}}</span>  #}
            </h3>
            <div class="img">
                {# <img class="subjectImage" src="{{ subject.subject ? vich_uploader_asset(subject.subject, 'imageFile') : "https://fakeimg.pl/200x100" }}" alt="{{subject.subject.nom}}"> #}
            </div>
            <div class="description">
                <p>{{subject.description  | raw}}</p>
            </div>
            <ul>
                <li>{{subject.comments | length}} commentaires</li>
                <li>{{subject.noteSubjects | length}} notes reçus</li>
                {# <li>{{subject.comments | length}} ajouter subject favoris</li> #}
            </ul>
            <button class="btn-vierge"><a href="{{ path('user_subject_show', {'id': subject.id}) }}">voir l'subject</a></button>
            
        </div>
    {% endfor %}

{% endblock %}