
    <article class="article {{couper}}">
        <hr>
        <h1>{{article.name}}</h1>
        <hr>
        <div class="iconArticle">
            <button value="{{article.id}}" class="btn-vierge color-red" type="button" data-suggest-article >
                <i class="fa-solid fa-clipboard-question"></i>
            </button>
            <button 
                    type="button" 
                    class="btn-vierge " 
                    value="{{article.id}}" 
                    data-liked-article >
                    {# {{ dump(article) }}
                    {{ dump(app.user.getarticleFavoris()) }} #}
                    {# {{ dump(article) }}
                    {{ dump(app.user.articleFavoris) }} #}
                    {% set fav = false %}
                    {% if app.user %}
                        {% for row in app.user.articleLikeds %}
                            {% if row.article.id == article.id %}
                                {% set fav = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    {% if fav %}
                        <i class="fa fa-star pointer yellow"></i>
                    {% else %}
                        <i class="far fa-star pointer yellow"></i>
                        
                    {% endif %}
            </button>
             <div class="suggest" id="suggest{{article.id}}">
                <input class="plus grande" type="text" placeholder="Une suggestion ?">
                <button value="{{article.id}}" class="btn-vierge bleu" data-submit-suggest-article >envoyer</button>
            </div>
            
        </div>
        {% for tag in article.tags %}
            <span class="left tag-name">{{tag.name}} <i class="fa-solid fa-tags"></i> </span>
        {% endfor %}
        <span class="right">ecrit {{article.createdAt | ago}}</span>

        <div class="w-100 content {{couper}}">{{article.content | raw }}</div>

        {% if couper == "couper" %}
            <div class="footer">
                <button class="btn-vierge bleu"><a href="{{ path('article_show', {'id': article.id}) }}">voir plus</a></button>
            </div>
        {% endif %}
        
</article>