<div class="card-subject" id="subject{{subject.id}}">
    <div class="black">

        {# POSTER PAR #}
        <h2 class="toptitre left">
            <a class="btn-vierge" 
                href="{{ subject.user ? path('app_user_profil', {'id': subject.user.id }) : "" }}"
                title="Voir le profil" 
            >
            - Posté par :  {{subject.user ? subject.user.name | slice(0,10) : "utilisateur supprimé"}}
                <img 
                    class="avatar" 
                    src="{{ subject.user ? vich_uploader_asset(subject.user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                    alt="{{ subject.user ? subject.user.name : 'utilisateur supprimé' }}"
                >
            </a>
        </h2> 
        {# DANS #}
        <h2 class="toptitre2 right">
            dans <span class="tags {{subject.forum.style}}">{{subject.forum.nom}}
                    <img 
                        class="avatar" 
                        src="{{ subject.forum ? vich_uploader_asset(subject.forum, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                        alt="{{subject.forum.nom}}"
                    >
                </span>
            <span class="mute">{{subject.createdAt | ago}}</span>
        </h2>

        <div class="iconSubject" {{ stimulus_controller('subject') }}>
        {# FOLLOWS #}
            <button {{ stimulus_action('subject', 'follows') }}
                    type="button" 
                    class="btn-vierge rightFloat" 
                    title="Ajouter aux favoris"
                    value="{{subject.id}}" 
                    >
                    {% set fav = false %}
                    {% if app.user %}
                        {% for row in app.user.subjectFavoris %}
                            {% if row.subject.id == subject.id %}
                                {% set fav = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    
                    {% if fav %}
                        <i class="fa fa-star pointer yellow"></i>
                    {% else %}
                        <i class="far fa-star pointer yellow"></i>
                    {% endif %}
            </button>
        {# REPORT #}
            <button {{ stimulus_action('subject', 'report') }}
                value="{{subject.id}}" 
                class="btn-vierge color-red rightFloat" 
                type="button" 
                title="Signaler"
                >
                <i class="fa-solid fa-triangle-exclamation"></i>
            </button>
            <div class="suggest" id="suggestSubject{{subject.id}}">
                <div class="suggestGrid">
                    <input class="plus grande envoieSuggestInput" type="text" placeholder="Un probleme ?">
                    <button {{ stimulus_action('subject', 'submitReport') }}
                        value="{{subject.id}}" 
                        class="btn-vierge bleu envoiSuggest" 
                        type="button"
                        ><i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        {# EDIT #}
            {% if app.user and subject.user and app.user.id == subject.user.id %}
                <button
                    value="{{subject.id}}" 
                    class="btn-vierge" 
                    type="button" 
                    title="Modifier"
                    >
                <a href="{{ path('user_subject_edit', {'id': subject.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            </button>
            {% endif %}
        </div>

        <div>
        {# NOTE DU SUJET #}
            <h1 class="title"><span>{{subject.nom}}</span>
            {% if  subject.noteSubjects | length > 0 %}
                {% set somme = 0 %}
                {% for row in subject.getNoteSubjects() %}
                {% set somme = somme + row.note
                    %}
                    
                {% endfor %}
                    {% set somme = somme / (subject.getNoteSubjects()| length) %}
                    <div class="note">
                    {% for i in 1..10 %}
                        {# {% if i <= somme * 2 %} #}
                        {% if i is odd %}
                        <i class="fa fa-star-half stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                        {% else %}
                        <i class="fa fa-star-half deg90 stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                        {% endif %}
                        {# {% endif %} #}
                    {% endfor %}
                </div>
            {% endif %}
            </h1>
        </div>
        {# NOTER LE SUJET #}
        {% if ( app.user and subject.user and app.user.id != subject.user.id ) or subject.user== null %}
        {% if  app.user %}
            {% set noter = false %}
            {% for subjectDejaNoter in app.user.noteSubjects %}
                {% if subjectDejaNoter.subject.id == subject.id %}
                {% set noter = true %}
                {% endif %}
            {% endfor %}
            {% if not noter %}

                <div {{ stimulus_controller('subject') }} class="note">
                    {% for i in 1..5 %}
                        <button 
                            {{ stimulus_action('subject', 'noter') }}
                            class="btn-vierge"  
                            value="{{i}}-{{subject.id}}" 
                            
                            type="button"
                            title="Notez {{i}} étoile{{i>1?'s'}}">
                            <i class="far fa-star stars" ></i>
                        </button>
                    {% endfor %}
                </div>
                
            {% endif %}
        {% endif %}
        {% endif %}
    </div>
    <div class="d-flex-image">  
    {# DESCRITPION #}
        <div class="d-subject">
            <div class="w-100 description">
                <div class="left content">{{subject.description | raw}}</div>
            </div>
        </div>
    {# COMMENTAIRE #}
        <div class="commentaire">
            {% if app.user %} 
            {# ENVOIE COMMENT #}
                <div class="comment"  
                    {{ stimulus_controller('comment') }}
                    >
                    <textarea id="commentPost{{subject.id}}" 
                        class="envoieCommentInput "
                        oninput="updateTextareaHeight(this)"  
                        onblur="quitTextarea(this)"
                        name="" id="" cols="1" rows="1"
                        autofocus></textarea>
                        {# <input id="commentPost{{subject.id}}" class="envoieCommentInput" placeholder="écrit ton commentaire"> #}
                    <button 
                        type="button" 
                        class="btn-vierge envoiComment" 
                        value="{{subject.id}}|{{app.user.id}}"
                        title="Envoyer le commentaire"
                        {{ stimulus_action('comment', 'newComment') }}
                        ><i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
            {% endif %}
            
            <div class="top" id="com{{subject.id}}">
            {% for commen in subject.comments |sort((a, b) => a.createdAt <= b.createdAt) %}
            {# LISTE COMMENT #}
                {% if commen.active %}     
                <div {{ stimulus_controller('comment') }}
                    class="comment3" 
                    id="comment{{commen.id}}"
                    >           
                    <div class="jaime" >
                        <span class="floatRight">
                            {# LIKE #}
                            <button 
                                title="Liker ce commentaire"
                                value="{{commen.id}}" 
                                class="btn-vierge jaimee rightFloat" 
                                type="button" 
                                {{ stimulus_action('comment', 'follows') }}
                                >
                                {% set fav = false %}
                                {% if app.user %}
                                    {% for row in app.user.commentLikes %}
                                        {% if row.comment.id == commen.id %}
                                            {% set fav = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                {% if fav %}
                                    <i class="fa-solid fa-thumbs-up yellow"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up yellow"></i>
                                {% endif %}
                                
                                <span id="like{{commen.id}}">({{commen.commentLikes | length }})</span> 

                            </button>
                            {# REPORT #}
                            <button 
                                title="Signaler ce commentaire"
                                value="{{commen.id}}" 
                                class="btn-vierge color-red rightFloat" 
                                type="button" 
                                {{ stimulus_action('comment', 'report') }}
                                >
                                <i class="fa-solid fa-triangle-exclamation"></i>
                            </button>
                            {% if app.user and app.user.id == commen.user.id %}
                            {# MODIF #}
                                <button 
                                    title="Supprimer mon commentaire"
                                    value="{{commen.id}}"
                                    class="btn-vierge rightFloat" 
                                    {{ stimulus_action('comment', 'delete') }}
                                ><i class="fa-solid fa-trash-can"></i>
                                </button>
                            {% endif %}
                        </span>
                        <div class="suggest" id="suggest{{commen.id}}">
                            <div class="suggestGrid">
                                <input class="plus grande envoieSuggestInput" type="text" placeholder="Un probleme ?">
                                <button 
                                    value="{{commen.id}}" 
                                    class="btn-vierge bleu envoiSuggest" 
                                    {{ stimulus_action('comment', 'submitReport') }} 
                                    type="button" 
                                    ><i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                    <span class="date">{{commen.createdAt | ago}}</span>
                    <p class="left head"> par {{ commen.user.name }}</p>
                    <p class="left com"> {{ commen.message | nl2br | raw }}
                    </p>
                    
                    <hr style="margin:2px"> 
                </div>
                {% endif %}
            {% else %}
                <p>Sois le premier commenter !</p>
            {% endfor %}
            </div>
        </div>

    </div>
</div>
<script>

    function updateTextareaHeight(input) {
        input.style.height = 'auto';
        input.style.height = input.scrollHeight+'px';
    }
    function quitTextarea(input){
        e = window.event;
        if (!e.relatedTarget){
                input.style.height = '50px';
        }
    }
</script>