<div class="card-subject" id="subject{{subject.id}}">
    <h2 class="toptitre left {{subject.forum.style}}">
    <a class="btn-vierge" href="{{ subject.user ? path('app_user_profil', {'id': subject.user.id }) : "" }}">
        - Posté par :  {{subject.user ? subject.user.name | slice(0,10) : "utilisateur supprimé"}}
            <img 
                class="avatar" 
                src="{{ subject.user ? vich_uploader_asset(subject.user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                alt="{{ subject.user ? subject.user.name : 'utilisateur supprimé' }}"
            >
        </a>
    </h2> 
    <h2 class="toptitre2 right {{subject.forum.style}}">
        dans {{subject.forum.nom}}
        <img 
                class="avatar" 
                src="{{ subject.forum ? vich_uploader_asset(subject.forum, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                alt="{{subject.forum.nom}}"
            >
        <span class="mute">{{subject.createdAt | ago}}</span>
    </h2>
    <div class="iconSubject" {{ stimulus_controller('subject') }}>
        <button {{ stimulus_action('subject', 'follows') }}
                type="button" 
                class="btn-vierge rightFloat" 
                value="{{subject.id}}" 
                >
                {# {{ dump(subject) }}
                {{ dump(app.user.getSubjectFavoris()) }} #}
                {# {{ dump(subject) }}
                {{ dump(app.user.subjectFavoris) }} #}
                {% set fav = false %}
                {% if app.user %}
                    {% for row in app.user.subjectFavoris %}
                        {% if row.subject.id == subject.id %}
                            {% set fav = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% if fav %}
                    <i class="fa fa-star pointer yellow"></i>
                {% else %}
                    <i class="far fa-star pointer yellow"></i>
                    
                {% endif %}
                
                
        </button>
                <button {{ stimulus_action('subject', 'report') }}
                value="{{subject.id}}" 
                class="btn-vierge color-red rightFloat" 
                type="button" 
                >
            <i class="fa-solid fa-triangle-exclamation"></i>
        </button>
        <div class="suggest" id="suggestSubject{{subject.id}}">
            <div class="suggestGrid">
                <input class="plus grande envoieSuggestInput" type="text" placeholder="Un probleme ?">
                <button {{ stimulus_action('subject', 'submitReport') }}
                    value="{{subject.id}}" 
                    class="btn-vierge bleu envoiSuggest" 
                    type="button"
                    ><i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </div>
        
        {% if app.user and subject.user and app.user.id == subject.user.id %}
            <button
                value="{{subject.id}}" 
                class="btn-vierge" 
                type="button" 
                >
            <a href="{{ path('user_subject_edit', {'id': subject.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </button>
        {% endif %}
    </div>
    <div>
        {# {% if app.user and app.user.id == subject.user.id %}
        <button data-btnEdit-subjectName value="{{subject.id}}">Modifer le titre</button>
        <div class="suggest" id="editSubject{{subject.id}}">
            <input id="subjectName" type="text" value="{{subject.nom}}">
            <button class="btnVierge" value="{{subject.id}}" data-edit-subjectName >modifier</button>
        </div>
        {% endif %} #}

        <h1 class="title"><span>{{subject.nom}}</span>
        {% if  subject.noteSubjects | length > 0 %}
            
            {# {{dump(subject.getNoteSubjects())}} #}
            {% set somme = 0 %}
            {% for row in subject.getNoteSubjects() %}
            {% set somme = somme + row.note
                %}
                
            {% endfor %}
                {% set somme = somme / (subject.getNoteSubjects()| length) %}
                <div class="note">
                {% for i in 1..10 %}
                    {# {% if i <= somme * 2 %} #}
                    {% if i is odd %}
                    <i class="fa fa-star-half stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                    {% else %}
                    <i class="fa fa-star-half deg90 stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                    {% endif %}
                    {# {% endif %} #}
                {% endfor %}
            </div>
        {% endif %}
        </h1>
    </div>
    {# {{ dump(app.user) }} #}
    <div class="d-flex-image">
        {# noter l subject #}

        <div>
            {# <img class="subjectImage" src="{{ subject ? vich_uploader_asset(subject, 'imageFile') : "https://fakeimg.pl/200x100" }}" alt="{{subject.nom}}"> #}
            <div class="d-subject">
                <div class="w-100 description">
                    <div class="left">{{subject.description | raw}}</div>
                </div>
            </div>
        </div>  
        <div class="commentaire">
            {# form new comment #}
            {% if app.user %} 
                {# <form action="" id="commentPost{{subject.id}}"> #}
                    <div class="comment"  
                    {{ stimulus_controller('comment') }}
                    >
                    <textarea id="commentPost{{subject.id}}" class="envoieCommentInput"  name="" id="" cols="10" rows="3"></textarea>
                        {# <input id="commentPost{{subject.id}}" class="envoieCommentInput" placeholder="écrit ton commentaire"> #}
                        <button 
                            type="button" 
                            class="btn-vierge envoiComment" 
                            value="{{subject.id}}|{{app.user.id}}"
                            {{ stimulus_action('comment', 'newComment') }}
                            ><i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                {# </form> #}
            {% endif %}
            
            <div class="top" id="com{{subject.id}}">
            {% for commen in subject.comments |sort((a, b) => a.createdAt <= b.createdAt) %}
                {% if commen.active %}     
                <div {{ stimulus_controller('comment') }}
                    class="comment3" 
                    id="comment{{commen.id}}"
                    >           
                    <div class="jaime" >
                        <span class="floatRight">
                           
                            <button 
                                value="{{commen.id}}" 
                                class="btn-vierge jaimee rightFloat" 
                                type="button" 
                                {{ stimulus_action('comment', 'follows') }}
                                >
                                {% set fav = false %}
                                {% if app.user %}
                                    {% for row in app.user.commentLikes %}
                                        {% if row.comment.id == commen.id %}
                                            {% set fav = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                {% if fav %}
                                    <i class="fa-solid fa-thumbs-up yellow"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up yellow"></i>
                                {% endif %}
                                
                                <span id="like{{commen.id}}">({{commen.commentLikes | length }})</span> 

                            </button>
                            <button 
                                value="{{commen.id}}" 
                                class="btn-vierge color-red rightFloat" 
                                type="button" 
                                {{ stimulus_action('comment', 'report') }}
                                >
                                <i class="fa-solid fa-triangle-exclamation"></i>
                            </button>
                        </span>
                        <div class="suggest" id="suggest{{commen.id}}">
                            <div class="suggestGrid">
                                <input class="plus grande envoieSuggestInput" type="text" placeholder="Un probleme ?">
                                <button 
                                    value="{{commen.id}}" 
                                    class="btn-vierge bleu envoiSuggest" 
                                    {{ stimulus_action('comment', 'submitReport') }} 
                                    type="button" 
                                    ><i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                    <p class="left head"> par {{ commen.user.name }}</p>
                    <p class="left com"> {{ commen.message | nl2br | raw }}
                    </p>
                    <span class="date">{{commen.createdAt | ago}}</span>
                    <hr style="margin:2px"> 
                </div>
                {% endif %}
            {% else %}
                <p>pas encore de commantaires</p>
            {% endfor %}
            </div>
        </div>

        {% if ( app.user and subject.user and app.user.id != subject.user.id ) or subject.user== null %}
            {% set noter = false %}
            {% for row in app.user.noteSubjects %}
                {% if row.subject.id == subject.id %}
                {% set noter = true %}
                {% endif %}
            {% endfor %}
            {% if not noter %}
            <div {{ stimulus_controller('subject') }}
                class="note">
                {% for i in 1..5 %}
                <button 
                    {{ stimulus_action('subject', 'noter') }}
                    class="btn-vierge"  
                    value="{{i}}-{{subject.id}}" 
                    type="button"
                    >
                        <i class="far fa-star stars" ></i>
                </button>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    </div>
    

</div>