
<div class="swiper-slide card card2 inerit">
    {# bandeau avatar #}
    <h3 class="toptitre photo b-50"  style="{{user.style}}">
        <img class="avatar" 
            src="{{ user.imageName ? vich_uploader_asset(user, 'imageFile') : "https://fakeimg.pl/200x100" }}" 7
            alt="{{user.name}}">
    </h3>

    {# nom #}
    <h1>{{user.name | slice(0,10)}}
        {# bouton follow #}
        {% if app.user and user.id != app.user.id %}
        <button {{ stimulus_controller('user') }}
            type="button" 
            class="btn-vierge yellow" 
            value="{{user.id}}"
            {{ stimulus_action('user', 'follows') }} 
            >
                {% set fav = false %}
                {% for row in app.user.follows %}
                    {% if row.friend.id == user.id %}
                        {% set fav = true %}
                    {% endif %}
                {% endfor %}
                {% if fav %}
                    <i class="fa fa-user pointer yellow"></i>
                {% else %}
                    <i class="far fa-user pointer yellow"></i>
                    
                {% endif %}
        </button>
        {% else %}
            {% if app.user %}
                <button class="btn-vierge yellow">😉</button>
            {% else %}
                <button class="btn-vierge yellow" value="1" {{ stimulus_controller('user') }} {{ stimulus_action('user', 'follows') }}><i class="far fa-user pointer yellow"></i></button>
            {% endif %}
        {% endif %}
    </h1>

    {# crédibilité #}
    <h3 class="{{user.credibility > 0 ? "green" : user.credibility < 0 ? "red" : "" }} p-10">
        Crédibilitée : {{user.credibility }}
    </h3>

    {# inscrit depuis #}
    <h3 class="date">inscrit {{user.createdAt | ago}}</h3>

    {# followers #}
    <h2>{{user.followers | length}} followers</h2>

    {# sujets postés et moyenne des sujets #}
    {% if user.subjects %}
        <h2>{{user.subjects | length }} subjects postés</h2>
        {% set moyenne = 0 %}
        {% set nbVote = 0 %}
        {% for row in user.subjects %}
            {% for note in row.noteSubjects %}
                {% set moyenne = moyenne + note.note %}
                {% set nbVote = nbVote +1 %}
            {% endfor %}
        {% endfor %}
        {% if nbVote > 0 %}
            {% set moyenne = moyenne / nbVote %}
            <h2>Moyenne subjects {{ moyenne | round(2, 'floor') }}</h2>
        {% endif %}
    {% endif %}

    {# commentaires #}
    <h2>{{user.comments | length }} commentaires</h2>
    
    <button class="btn-vierge"><a href="{{ path('app_user_profil', {'id': user.id}) }}">voir le profil</a></button>
</div>
