{% extends "base.html.twig" %}
{% block title %}
    Meme | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block body %}
<section class="d-flex">
    <div class="card-meme">
        <h1 class="toptitre left {{meme.categorieId.style}}">
            - Posté par :  {{meme.userId.name}}
            <img 
                class="avatar" 
                src="{{ meme.userId ? vich_uploader_asset(meme.userId, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                alt="{{meme.userId.name}}"
            >
        </h1> 
        <h2 class="toptitre2 right {{meme.categorieId.style}}">
            dans {{meme.categorieId.nom}} <span class="mute">{{meme.createdAt | ago}}</span>
        </h2>
        <div class="iconMeme">
            <button value="{{meme.id}}" class="btn-vierge red" type="button" data-signaler-meme >
                <i class="fa-solid fa-triangle-exclamation"></i>
            </button>
            <button 
                type="button" 
                class="btn-vierge " 
                value="{{meme.id}}" 
                data-follow-meme >
                {# {{ dump(meme) }}
                {{ dump(app.user.getMemeFavoris()) }} #}
                {# {{ dump(meme) }}
                {{ dump(app.user.memeFavoris) }} #}
                {% set fav = false %}
                {% if app.user %}
                    {% for row in app.user.memeFavoris %}
                        {% if row.meme.id == meme.id %}
                            {% set fav = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% if fav %}
                    <i class="fa fa-star pointer yellow"></i>
                {% else %}
                    <i class="far fa-star pointer yellow"></i>
                    
                {% endif %}
                    
                    
            </button>
        </div>

        <h1 class="title">
        {% if app.user and app.user.id == meme.userId.id %}
            <input id="memeName" type="text" value="{{meme.nom}}">
            <button class="btnVierge" value="{{meme.id}}" data-edit-memeName >modifier</button>
        {% else %}
            {{meme.nom}}
        {% endif %}
        
        {% if  meme.getNoteMemes() | length > 0 %}
            
            {# {{dump(meme.getNoteMemes())}} #}
            {% set somme = 0 %}
            {% for row in meme.getNoteMemes() %}
                {% set somme = somme + row.note %}
            {% endfor %}
                {% set somme = somme / (meme.getNoteMemes()| length) %}
            <div class="note">
                {% for i in 1..10 %}
                    {# {% if i <= somme * 2 %} #}
                    {% if i is odd %}
                    <i class="fa fa-star-half stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                    {% else %}
                    <i class="fa fa-star-half deg90 stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                    {% endif %}
                    {# {% endif %} #}
                {% endfor %}
            </div>
        {% endif %}
        </h1>
        {# {{ dump(app.user) }} #}
        <div class="d-flex-image">
            {# noter l meme #}
            {% if app.user  %}
                {% set noter = false %}
                {% for row in app.user.noteMemes %}
                    {% if row.meme.id == meme.id %}
                    {% set noter = true %}
                    {% endif %}
                {% endfor %}
                {% if not noter %}
                <div class="note">
                    {% for i in 1..5 %}
                    <button class="btn-vierge"  value="{{i}}-{{meme.id}}" data-note-meme>
                            <i class="far fa-star stars" ></i>
                    </button>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        
            <div class="commentaire">
                <h2>commentaires</h2>
                {# form new comment #}
                {% if app.user %} 
                    {# <form action="" id="commentPost{{meme.id}}"> #}
                        <div class="comment">
                            <input id="commentPost{{meme.id}}" class="envoieCommentInput" placeholder="écrit ton commentaire">
                            <button type="button" class="btn-vierge envoiComment" value="{{meme.id}}|{{app.user.id}}" data-envoie-comment><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    {# </form> #}
                {% endif %}
                
                <div class="top" id="com{{meme.id}}">
                {% for commen in meme.comments |sort((a, b) => a.createdAt <= b.createdAt) %}
                    {% if commen.visible %}
                    <div class="comment3">           
                        <div class="jaime" >
                            <span class="floatRight">
                                <button value="{{commen.id}}" class="btn-vierge red" type="button" data-signaler-comment >
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </button>

                                <span id="like{{commen.id}}">({{commen.commentLikes | length }})</span> 
                                <button value="{{commen.id}}" class="btn-vierge jaimee" type="button" data-jaime-comment >
                                    <i class="far fa-thumbs-up"></i>
                                </button>
                            </span>
                        </div>
                        <p class="left head"> par {{ commen.user.name }}</p>
                        <p class="left com"> {{ commen.comment}}
                        </p>
                        <span class="date">{{commen.createdAt | ago}}</span>
                        <hr style="margin:2px"> 
                    </div>
                    {% endif %}
                {% else %}
                    <p>pas encore de commantaires</p>
                {% endfor %}
                </div>
            </div>
            <div>
                <img class="memeImage" src="{{ meme ? vich_uploader_asset(meme, 'imageFile') : "https://fakeimg.pl/200x100" }}" alt="{{meme.nom}}">
                <div class="d-meme ">
                    <div class="description">
                        
                        {% if app.user and app.user.id == meme.userId.id %}
                            <input id="memeContent" type="text" value="{{meme.description}}">
                            <button class="btnVierge" value="{{meme.id}}" data-edit-memeContent >modifier</button>
                        {% else %}
                            <p>{{meme.description}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div>
        

    </div>

    {# clone commentaire #}
    <div class="comment3 modele" id="modele-comment">           
        <div class="jaime" >
            <span class="floatRight">
                <span  id="note0">(0)</span> 
                <button id="j0" data_note="0/" class="btn-vierge jaimee" type="button" name="jaime" >
                    <i data_id="0" class="far fa-thumbs-up"></i>
                </button>
            </span>
        </div>
        <p class="left head"> par {{ app.user ? app.user.name }}</p>
        <p class="left com">0</p>
        <span class="date">à l'instant</span>
        <hr style="margin:2px"> 
    </div>
</section>
{% endblock %}