<section class="d-flex ">
    {# button nouvel article #}
    {% if app.user %}
        <button id="myBtn1" onclick="modal(this)">nouvel article</button>
        <div id="modal1"  class="card-article">
            {{ include('article/new.html.twig')}}
        </div>
    {% endif %}

    {# liste des articles #}
    {% for article in articles %}
        <div class="card-article">
            <h1 class="toptitre left {{article.categorieId.style}}">
            <a class="btn-vierge" href="{{ path('app_user_profil', {'id': article.userId.id}) }}">
                - Posté par :  {{article.userId.name}}
                    <img 
                        class="avatar" 
                        src="{{ article.userId.imageFile ? vich_uploader_asset(article.userId, 'imageFile') : "https://fakeimg.pl/200x100" }}" 
                        alt="{{article.userId.name}}"
                    >
                </a>
            </h1> 
            <h2 class="toptitre2 right {{article.categorieId.style}}">
                dans {{article.categorieId.nom}} <span class="mute">{{article.createdAt | ago}}</span>
            </h2>
            <div class="iconArticle">
                <button value="{{article.id}}" class="btn-vierge red" type="button" data-signaler-article >
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </button>
                <button 
                        type="button" 
                        class="btn-vierge " 
                        value="{{article.id}}" 
                        data-follow-article >
                        {# {{ dump(article) }}
                        {{ dump(app.user.getArticleFavoris()) }} #}
                        {# {{ dump(article) }}
                        {{ dump(app.user.articleFavoris) }} #}
                        {% set fav = false %}
                        {% if app.user %}
                            {% for row in app.user.articleFavoris %}
                                {% if row.article.id == article.id %}
                                    {% set fav = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        {% if fav %}
                            <i class="fa fa-star pointer yellow"></i>
                        {% else %}
                            <i class="far fa-star pointer yellow"></i>
                            
                        {% endif %}
                        
                        
                </button>
            </div>

            <h1 class="title">{{article.nom}}
            {% if  article.noteArticles | length > 0 %}
                
                {# {{dump(article.getNoteArticles())}} #}
                {% set somme = 0 %}
                {% for row in article.getNoteArticles() %}
                {% set somme = somme + row.note
                    %}
                    
                {% endfor %}
                    {% set somme = somme / (article.getNoteArticles()| length) %}
                    <div class="note">
                    {% for i in 1..10 %}
                        {# {% if i <= somme * 2 %} #}
                        {% if i is odd %}
                        <i class="fa fa-star-half stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                        {% else %}
                        <i class="fa fa-star-half deg90 stars {{(i <= somme * 2) ? 'yellow' }}" ></i>
                        {% endif %}
                        {# {% endif %} #}
                    {% endfor %}
                </div>
            {% endif %}
            </h1>
            {# {{ dump(app.user) }} #}
            <div class="d-flex-image">
                {# noter l article #}
                {% if app.user and app.user.id != article.userId.id  %}
                    {% set noter = false %}
                    {% for row in app.user.noteArticles %}
                        {% if row.article.id == article.id %}
                        {% set noter = true %}
                        {% endif %}
                    {% endfor %}
                    {% if not noter %}
                    <div class="note">
                        {% for i in 1..5 %}
                        <button class="btn-vierge"  value="{{i}}-{{article.id}}" data-note-article>
                                <i class="far fa-star stars" ></i>
                        </button>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endif %}
            
                <div class="commentaire">
                    <h2>commentaires</h2>
                    {# form new comment #}
                    {% if app.user %} 
                        {# <form action="" id="commentPost{{article.id}}"> #}
                            <div class="comment">
                                <input id="commentPost{{article.id}}" class="envoieCommentInput" placeholder="écrit ton commentaire">
                                <button type="button" class="btn-vierge envoiComment" value="{{article.id}}|{{app.user.id}}" data-envoie-comment><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        {# </form> #}
                    {% endif %}
                    
                    <div class="top" id="com{{article.id}}">
                    {% for commen in article.comments |sort((a, b) => a.createdAt <= b.createdAt) %}
                        {% if commen.visible %}
                        <div class="comment3">           
                            <div class="jaime" >
                                <span class="floatRight">
                                    <button value="{{commen.id}}" class="btn-vierge red" type="button" data-signaler-comment >
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                    </button>

                                    <span id="like{{commen.id}}">({{commen.commentLikes | length }})</span> 
                                    <button value="{{commen.id}}" class="btn-vierge jaimee" type="button" data-jaime-comment >
                                        <i class="far fa-thumbs-up"></i>
                                    </button>
                                </span>
                            </div>
                            <p class="left head"> par {{ commen.user.name }}</p>
                            <p class="left com"> {{ commen.comment}}
                            </p>
                            <span class="date">{{commen.createdAt | ago}}</span>
                            <hr style="margin:2px"> 
                        </div>
                        {% endif %}
                    {% else %}
                        <p>pas encore de commantaires</p>
                    {% endfor %}
                    </div>
                </div>
                <div>
                    <img class="articleImage" src="{{ article ? vich_uploader_asset(article, 'imageFile') : "https://fakeimg.pl/200x100" }}" alt="{{article.nom}}">
                    <div class="d-article ">
                        <div class="description">
                            <p>{{article.description}}</p>
                        </div>
                    </div>
                </div>  
            </div>
            
    
        </div>
        

    {% endfor %}

    {# clone commentaire #}
    <div class="comment3 modele" id="modele-comment">           
        <div class="jaime" >
            <span class="floatRight">
                <span  id="note0">(0)</span> 
                <button id="j0" data_note="0/" class="btn-vierge jaimee" type="button" name="jaime" >
                    <i data_id="0" class="far fa-thumbs-up"></i>
                </button>
            </span>
        </div>
        <p class="left head"> par {{ app.user ? app.user.name }}</p>
        <p class="left com">0</p>
        <span class="date">à l'instant</span>
        <hr style="margin:2px"> 
    </div>


</section>
