{% extends "user/profil.html.twig" %}

{% block title %}
    Abonnements | {{ parent()}}
{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Le site d'entraide entre developpeur, dans une idée de partage et de progression en toute solidarité ." 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}
{% block mainProfil %}

    <hr class="mt-5">
    <h1>abonnements {{user.follows | length}}</h1>
    <div class="js-filter w-80">
        {{ form_start(forms, { 'attr' : { 'class' : ' js-filter-form formEdit'} }) }}
        <div class="loader">
            <div class="js-loading" role="status" aria-hidden="true" style="display: none">
                <span class=""><i class="fa-solid fa-spinner fa-spin-pulse"></i></span>
            </div>
        </div>
            {{ form_row(forms.query, { 'attr' : { 'class' : 'formSearch'} }) }}
            {# <button class="btn-vierge" type="submit">Rechercher</button> #}
        {{ form_end(forms, {'render_rest': false }) }}
        <div class="js-filter-count">
            {% include "Components/filter/_countUser.html.twig" with { users : follow } %}
        </div>

        <div class="d-flex js-filter-content">
            {% include "Components/_usersFollow.html.twig" with { follower : false } %}
        </div>     

        <div class="d-flex js-filter-pagination">
            {% include "Components/filter/_paginationUser.html.twig" with { users : follow } %}
        </div>
    </div>

{% endblock %}

