
{# Formulaire modifier le profil #}
<div class="couleur modal" id="modal2">
    {{ form_start(form,{'attr': {'class': 'form large formEdit'}}) }}
        <h2 class="Lobster">Modifier le profil</h2>
        <hr>
        <div class="form-ligne">
            {{ form_row( form.name,{'attr': {'placeholder': 'nom'}} ) }}
            {{ form_row( form.imageFile ) }}
        </div>
        <hr>
        <button class="mb-4">{{ button_label|default('Enregistrer') }}</button>
        
        {{ form_widget( form._token)}}
    {{ form_end(form,{render_rest: false}) }}
</div>

{# Section changer les couleurs de la banière de profil #}
<div class="couleur modal" id="modal3">
    <section class="color mt-5">
        <h2>Personalisations couleurs</h2>
        <hr>
        <div class="coupe2 d-flex">
            {# direction et style #}
            <div class="outils">
                <h4>direction du dégradé <br>
                    <button class="dire green" onclick="direct('left bottom',this)" type="button">
                        <i style="transform:rotate(-45deg);" class="fa-solid fa-arrow-right"></i>
                    </button>
                    <button class="dire" onclick="direct('left',this)" type="button">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    <button class="dire" onclick="direct('left top',this)" type="button">
                        <i style="transform:rotate(45deg);" class="fa-solid fa-arrow-right"></i>
                    </button>
                    <button class="dire" onclick="direct('top',this)" type="button">
                        <i class="fa-solid fa-arrow-down"></i>
                    </button>
                </h4>
                <hr>
                <h4>couleur du dégradé
                    <button id="btn0" onclick="changeClick(0)" class="carreForm greenColor">1</button>
                    <button id="btn1" onclick="changeClick(1)" class="carreForm">2</button>
                </h4>
                <hr>
                <h4>couleur de la bordure
                    <button id="btn2" onclick="changeClick(2)" class="carreForm">3</button>
                </h4>
                <hr>
                <h4>couleur de l'ombre
                    <button id="btn3" onclick="changeClick(3)" class="carreForm">4</button>
                </h4>
                <hr>
            </div>

            {# carrés de couleurs #}
            <div class="sectionColor">
                {% for i in 0..53 %}
                    {% set bleu=random(1,255) %}
                    {% set rouge=random(1,255) %}
                    {% set vert=random(1,255) %}
                    <div onclick="envoieCouleur(this)"  
                        class="carre jeu" 
                        style="background-color:rgb({{rouge}},{{vert}},{{bleu}})">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="button">
            <button type="button" onclick="changeCouleur()">reload color</button>
            <button id="go" type="button" data-style-user >valider ces couleurs</button>
        </div>
    </section>
</div>




<script>

direction="left bottom";
// changement de direction du degradé
    function direct(dir,what){
        direction=dir;
        btnDirection=document.getElementsByClassName('dire');
        for (let index = 0; index < btnDirection.length; index++) {
            btnDirection[index].classList.remove("green");
        }
        what.classList.add('green');

        test()
    }
// changement de direction du degradé

// recharger les couleurs
    function changeCouleur(){
        
        var icone = document.getElementsByClassName("carre");
        var i;
        for (i = 0; i < icone.length; i++) {
            bleu=Math.floor(Math.random() * 255) + 1;
            rouge=Math.floor(Math.random() * 255) + 1;
            vert=Math.floor(Math.random() * 255) + 1;
            icone[i].style.backgroundColor='rgb('+ rouge +','+ vert +','+ bleu +')' ;
        }
    }
// recharger les couleurs

    click=0;
// change le chifre de click en valeur x
    function changeClick(x){
        click=x;
        btnClick=document.getElementsByClassName('carreForm');
        for (let index = 0; index < btnClick.length; index++) {
            if (btnClick[index].id=='btn'+click){
                btnClick[index].classList.add("greenColor");
            }else{
                btnClick[index].classList.remove('greenColor');
            }
        }
    }
// change le chifre de click x

// pour envoyer la couleur
    function envoieCouleur(what){
        // canhge le step
        click++;
        if(click>4){ click=1; }
        
        // envoie la couleur selectionné au bouton associé
        currentBouton='btn'+(click-1);
        document.getElementById(currentBouton).style.backgroundColor=what.style.backgroundColor; 
        
        // envoie les couleur à la carte
        test()

        // replace la bordure sur le bouton suivant
        btnClick=document.getElementsByClassName('carreForm');
        for (let index = 0; index < btnClick.length; index++) {
            if (btnClick[index].id=='btn'+(click) || btnClick[index].id=='btn'+0 && click==4 ){
                btnClick[index].classList.add("greenColor");
            }else{
                btnClick[index].classList.remove("greenColor");
            }
        }
        
    }
// pour envoyer la couleur

// pour envoyer les couleurs à la carte
    function test(){
        
        color0=btn0.style.backgroundColor;
        color1=btn1.style.backgroundColor;
        color2=btn2.style.backgroundColor;
        color3=btn3.style.backgroundColor;
        
        // dégrader de couleur
        profilCardTitre.style.background = "linear-gradient( to "+direction+", "+ color0 +", "+ color1+")";

        // ombre de la box
        if(color3){
            profilCardTitre.style.boxShadow ="0px 0px 5px " + 
            color3 + ", 0px 0px 25px " + 
            color2 +", inset 0px 4px 15px " +
            color3 ;
        }

        // bordure
        if(color2){
            profilCardTitre.style.border = " solid 2px " + color2;
        }
     
        // envoie la valeur au bouton 'valider couleur'
        go.value="background:linear-gradient( to "+ direction +", "+ color0 +", "+ color1 +"); border: solid 2px "+
        color2 + " ; box-shadow: 0px 0px 5px "+
        color3 +", 0px 0px 25px "+
        color2 +", inset 0px 4px 15px "+
        color3 +";";
    }
// pour envoyer les couleurs à la carte


</script>