{% extends "base.html.twig" %}
{% block title %}
    All users | {{ parent() }}
{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Tous nos utilisateurs adhérents qui permettent à Dev In d'être aussi performant dans l'entraide entre devs" 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block body %}
    {# {{ dump(users) }} #}
        
    <div class="js-filter w-80">
        {{ form_start(forms, { 'attr' : { 'class' : 'form js-filter-form'} }) }}
            {{ form_row(forms.query) }}
            {# <button class="btn-vierge" type="submit">Rechercher</button> #}
        {{ form_end(forms, {'render_rest': false }) }}
        <div class="js-filter-count">
            {% include "Components/filter/_countUser.html.twig" %}
        </div>

        <div class="js-filter-content w-100 d-flex">
            {% include "Components/_users.html.twig" %}
        </div>

        <div class="d-flex js-filter-pagination">
            {% include "Components/filter/_paginationUser.html.twig" %}
        </div>
    </div>

{% endblock %}