{% extends "base.html.twig" %}
{% block title %}
    profil | {{ parent() }}
{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="La page de profil de {{user.name}} sue Dev In, le site d'entraide entre devs" 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ parent()}}
{% endblock %}

{% block body %}
<section class="w-80">
    <h1 class="break">Profil de {{user.name}}</h1>
    <section class="d-flex reverse">
    {% if app.user and app.user.id == user.id %}
        <section id="btnProfil">
            <button id="myBtn2" class="" onclick="modal(this)">modifier le profil</button>
            <button id="myBtn3" class="" onclick="modal(this)">couleur de profil</button>
        </section>
                
        {% include "user/edit.html.twig" %}  
     
    {% endif %}

    <div id="profilCard" class="swiper-slide card mt-5" style="{{user.style}}">
        <h3 class="toptitre photo b-50 gris">
            <img class="avatar" src="{{ user.imageName ? vich_uploader_asset(user, 'imageFile') : "https://fakeimg.pl/200x100" }}" alt="{{user.name}}">
        </h3>
        <h3 class="date">inscrit {{user.createdAt | ago}}
        {% if app.user and app.user.id != user.id %}
            <button type="button" class="btn-vierge yellow" value="{{user.id}}" data-follow-user >
                {% set fav = false %}
                
                {% for row in app.user.getFollows %}
            
                    {% if row.friend.id == user.id %}
                        {% set fav = true %}
                    {% endif %}
                {% endfor %}
                {% if fav %}
                    <i class="fa fa-user pointer yellow"></i>
                {% else %}
                    <i class="far fa-user pointer yellow"></i>
                    
                {% endif %}

            </button>
        {% endif %}
        </h3>
        <h2>{{user.followers | length}} followers</h2>
        {% if user.subjects %}
            <h2>{{user.subjects | length }} subjects postés</h2>
            {% set moyenne = 0 %}
            {% set nbVote = 0 %}
            {% for row in user.subjects %}
                {% for note in row.noteSubjects %}
                    {% set moyenne = moyenne + note.note %}
                    {% set nbVote = nbVote +1 %}
                {% endfor %}
            {% endfor %}
            {% if nbVote > 0 %}
                {% set moyenne = moyenne / nbVote %}
                <h2>Moyenne subjects {{ moyenne | round(2, 'floor') }}</h2>
            {% endif %}
            <h2>{{user.comments | length }} commantaires</h2>

        {% endif %}
        {# <button class="btn-vierge"><a href="{{ path('app_user_profil', {'id': follow.user.id}) }}">voir le profil</a></button> #}
        {# <a href="bb">dfgff sdg s sg </a> #}
    </div>


    </section>
    <section id="includeProfil">
    
        {% if user.follows | length > 0 %}
        <button class="btn-vierge bleu btnProfil">
            <a href="{{ path('app_user_followed' ) }}#includeProfil">abonnements ({{user.follows | length}})</a>
        </button>

        {% endif %}
        {% if user.followers | length > 0 %}
         <button class="btn-vierge bleu btnProfil">
            <a href="{{ path('app_user_followers' ) }}#includeProfil">abonnés({{user.followers | length}})</a>
        </button>
        {% endif %}
        {% if user.subjects | length > 0 %}
         <button class="btn-vierge bleu btnProfil">
            <a href="{{ path('app_user_subject' ) }}#includeProfil">sujets postés({{user.subjects | length}})</a>
        </button>
        {% endif %}

        {% if user.subjectFavoris | length > 0 %}
         <button class="btn-vierge bleu btnProfil">
            <a href="{{ path('app_user_subject-favoris' ) }}#includeProfil">sujets favoris({{user.subjectFavoris | length}})</a>
        </button>
        {% endif %}
        {% if user.noteSubjects | length > 0 %}
         <button class="btn-vierge bleu btnProfil">
            <a href="{{ path('app_user_subject-noter' ) }}#includeProfil">sujets noter({{user.noteSubjects | length}})</a>
         </button>
        {% endif %}
        {% if user.articleLikeds | length > 0 %}
         <button class="btn-vierge bleu btnProfil">
            <a href="{{ path('app_user_article-favoris' ) }}#includeProfil">article favoris({{user.articleLikeds | length}})</a>
         </button>
        {% endif %}
        {% block mainProfil %}

        {% endblock %}
    </section>
    {% if app.user and app.user.id == user.id %}
    <button class="btn-vierge red" data-delete-compte>Supprimer mon compte</button>
    <div id="alertDelete">
        <h3>Vous êtes sur le point de supprimer votre compte</h3>
        <p>Toutes vos données seront supprimées de manieres irémediable <br>
            Etes vous sur de vouloir supprimer votre compte de manière definitive ?
        </p>
        <button class="btn-vierge red" data-delete> <a href=" {{path('delete')}}"> Oui je veux supprimer mon compte</a></button>
        <button class="btn-vierge green" data-retour>Non je veux garder mon compte</button>
    </div>
    {% endif %}
</section>
{% endblock %}